@model TuyenSinh.Model.News
@{
    ViewData["Title"] = "Chi tiết tin";
    var categories = (List<TuyenSinh.Model.Category>)ViewBag.categories;
    var relatedNews = (List<TuyenSinh.Model.News>)ViewBag.relatedNews;
    var ListNews = (List<TuyenSinh.Model.News>)ViewBag.ListNews;
}

<main id="main" class="">
    <div id="content" class="blog-wrapper blog-single page-wrapper">
        <div class="row row-large row-divided ">
            <div class="large-9 col">
                <article id="post-323" class="post-323 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                    <div class="article-inner ">
                        <header class="entry-header">
                            <div class="entry-header-text entry-header-text-top  text-left">
                                <h1 class="entry-title">@Model.Name</h1>
                                <div class="entry-meta is-small single-date">
                                    <span class="posted-on">Posted on <time class="entry-date published" datetime="2019-12-12T03:41:29+00:00">@Model.CreateDate.Value.ToString("dd/MM/yyyy")</time></span><span class="byline"> by <span class="meta-author vcard">admin</span></span>
                                </div><!-- .entry-meta -->
                            </div><!-- .entry-header -->
                            <div class="entry-image relative">
                            </div><!-- .entry-image -->
                        </header><!-- post-header -->
                        <div class="entry-content single-page">
                            <p><strong><em>@Model.Description</em></strong></p>
                            <p>@Html.Raw(Model.Detail)</p>
                            <div class="blog-share text-center"><div class="social-icons share-icons share-row relative"><a href="whatsapp://send?text=M%E1%BA%A1nh%20M%E1%BA%BD%20%26%23038%3B%20Cu%E1%BB%91n%20H%C3%BAt%20v%E1%BB%9Bi%20%C4%91%E1%BB%93ng%20h%E1%BB%93%20m%E1%BA%B7t%20r%E1%BA%AFn%20L%26%238217%3BDuchen%20Silver%20Snake - http://dongho.giaodienwebmau.com/manh-me-cuon-hut-voi-dong-ho-mat-ran-lduchen-silver-snake/" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium" title="Share on WhatsApp"><i class="icon-whatsapp"></i></a><a href="http://www.facebook.com/sharer.php?u=http://dongho.giaodienwebmau.com/manh-me-cuon-hut-voi-dong-ho-mat-ran-lduchen-silver-snake/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip facebook" title="Share on Facebook"><i class="icon-facebook"></i></a><a href="http://twitter.com/share?url=http://dongho.giaodienwebmau.com/manh-me-cuon-hut-voi-dong-ho-mat-ran-lduchen-silver-snake/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip twitter" title="Share on Twitter"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=M%E1%BA%A1nh%20M%E1%BA%BD%20%26%23038%3B%20Cu%E1%BB%91n%20H%C3%BAt%20v%E1%BB%9Bi%20%C4%91%E1%BB%93ng%20h%E1%BB%93%20m%E1%BA%B7t%20r%E1%BA%AFn%20L%26%238217%3BDuchen%20Silver%20Snake&amp;body=Check%20this%20out:%20http://dongho.giaodienwebmau.com/manh-me-cuon-hut-voi-dong-ho-mat-ran-lduchen-silver-snake/" rel="nofollow" class="icon button circle is-outline tooltip email" title="Email to a Friend"><i class="icon-envelop"></i></a><a href="http://pinterest.com/pin/create/button/?url=http://dongho.giaodienwebmau.com/manh-me-cuon-hut-voi-dong-ho-mat-ran-lduchen-silver-snake/&amp;media=http://dongho.giaodienwebmau.com/wp-content/uploads/2019/12/luu-ban-nhap-tu-dong-323.jpg&amp;description=M%E1%BA%A1nh%20M%E1%BA%BD%20%26%23038%3B%20Cu%E1%BB%91n%20H%C3%BAt%20v%E1%BB%9Bi%20%C4%91%E1%BB%93ng%20h%E1%BB%93%20m%E1%BA%B7t%20r%E1%BA%AFn%20L%26%238217%3BDuchen%20Silver%20Snake" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest" title="Pin on Pinterest"><i class="icon-pinterest"></i></a><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://dongho.giaodienwebmau.com/manh-me-cuon-hut-voi-dong-ho-mat-ran-lduchen-silver-snake/&amp;title=M%E1%BA%A1nh%20M%E1%BA%BD%20%26%23038%3B%20Cu%E1%BB%91n%20H%C3%BAt%20v%E1%BB%9Bi%20%C4%91%E1%BB%93ng%20h%E1%BB%93%20m%E1%BA%B7t%20r%E1%BA%AFn%20L%26%238217%3BDuchen%20Silver%20Snake" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin" title="Share on LinkedIn"><i class="icon-linkedin"></i></a></div></div>
                        </div><!-- .entry-content2 -->

                        <div class="related-post">
                            <div class="" style="margin-top: 30px;margin-bottom: 20px"> <h7>Bài viết liên quan</h7><div class="duong-line"></div></div>
                            <div class="clearfix"></div>
                            <div class="row large-columns-3 medium-columns-2 small-columns-1 has-shadow row-box-shadow-1 row-box-shadow-1-hover">
                                @if (relatedNews.Count() > 0)
                                {
                                    foreach (var item in relatedNews)
                                    {
                                        <div class="col post-item">
                                            <div class="col-inner">
                                                <a href="/chi-tiet-tin/@item.Url/@item.Id" class="plain">
                                                    <div class="box box-bounce box-text-bottom box-blog-post has-hover">
                                                        <div class="box-image">
                                                            <div class="image-cover" style="padding-top:56%;">
                                                                <img width="1024" height="575" src="@item.Image" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="@item.Name" sizes="(max-width: 1024px) 100vw, 1024px" />
                                                            </div>
                                                        </div><!-- .box-image -->
                                                        <div class="box-text text-center">
                                                            <div class="box-text-inner blog-post-inner">
                                                                <h5 class="post-title is-large ">@item.Name</h5>
                                                                <div class="post-meta is-small op-8">@item.CreateDate.Value.ToString("dd/MM/yyyy")</div><div class="is-divider"></div>
                                                            </div><!-- .box-text-inner -->
                                                        </div><!-- .box-text -->
                                                    </div><!-- .box -->
                                                </a><!-- .link -->
                                            </div><!-- .col-inner -->
                                        </div><!-- .col -->

                                    }
                                }

                            </div>
                        </div>
                    </div><!-- .article-inner -->
                </article><!-- #-323 -->
                <div class="fb-comments" xid="323 data-numposts="20" data-width="100%" data-colorscheme="light" data-version="v2.3"></div>
            </div> <!-- .large-9 -->

            <div class="post-sidebar large-3 col">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="search-2" class="widget widget_search">
                        <form method="get" class="searchform" action="http://dongho.giaodienwebmau.com/" role="search">
                            <div class="flex-row relative">
                                <div class="flex-col flex-grow">
                                    <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Tìm kiếm&hellip;" />
                                </div><!-- .flex-col -->
                                <div class="flex-col">
                                    <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </div><!-- .flex-col -->
                            </div><!-- .flex-row -->
                            <div class="live-search-results text-left z-top"></div>
                        </form>
                    </aside>		<aside id="recent-posts-2" class="widget widget_recent_entries">
                        <span class="widget-title "><span>Bài viết mới</span></span><div class="is-divider small"></div>		<ul>
    @if (ListNews.Count() > 0)
    {
        foreach (var item in ListNews
            )
        {
            <li>
                <a href="/chi-tiet-tin/@item.Url/@item.Id">@item.Name</a>
            </li>
        }
    }


</ul>
                   <aside id="categories-2" class="widget widget_categories">

                        <span class="widget-title "><span>Chuyên mục</span></span><div class="is-divider small"></div>	
                                                                                  <ul>
                                                                                      @if (categories.Count() > 0)
                                                                                      {
                                                                                          foreach (var item in categories)
                                                                                          {
                                                                                              <li class="cat-item cat-item-17">
                                                                                                  <a href="/tin-tuc/@item.Url/@item.Id">@item.Name</a>
                                                                                              </li>
                                                                                          }
                                                                                      }

                                                                                  </ul>
                </div><!-- #secondary -->
            </div><!-- .post-sidebar -->

        </div><!-- .row -->

    </div><!-- #content .page-wrapper -->


</main><!-- #main -->
