@model TuyenSinh.Models.PaginationSet<TuyenSinh.Model.News>
@{
    ViewData["Title"] = "Danh mục tin tức";
    var ListCate = (List<TuyenSinh.Model.Category>)ViewBag.ListCate;
    var ListNews = (List<TuyenSinh.Model.News>)ViewBag.ListNews;
}


<main id="main" class="">
    <div id="content" class="blog-wrapper blog-archive page-wrapper">
        <div class="row row-large row-divided ">
            <div class="large-9 col">
                <div class="row large-columns-1 medium-columns- small-columns-1">
                    @if (ListNews.Count() > 0)
                    {
                        foreach (var item in ListNews)
                        {
                            <div class="col post-item">
                                <div class="col-inner">
                                    <a href="/chi-tiet-tin/@item.Url/@item.Id" class="plain">
                                        <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                            <div class="box-image" style="width:40%;">
                                                <div class="image-cover" style="padding-top:56%;">
                                                    <img width="600" height="400" src="@item.Image" class="attachment-medium size-medium wp-post-image" alt="@item.Name" sizes="(max-width: 600px) 100vw, 600px" />
                                                </div>
                                            </div><!-- .box-image -->
                                            <div class="box-text text-left">
                                                <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">@item.Name</h5>
                                                    <div class="is-divider"></div>
                                                    @if (item.Description.Length > 120)
                                                    {
                                                        <p class="from_the_blog_excerpt ">
                                                            @item.Description.Substring(0, 120)...
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="from_the_blog_excerpt "> @item.Description</p>
                                                    }
                                                </div><!-- .box-text-inner -->
                                            </div><!-- .box-text -->                                   
                                        </div><!-- .box -->
                                    </a><!-- .link -->
                                </div><!-- .col-inner -->
                            </div><!-- .col -->

                        }

                    }
                </div>

            </div> <!-- .large-9 -->

            <div class="post-sidebar large-3 col">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="search-2" class="widget widget_search">
                        <form method="get" class="searchform" action="http://dongho.giaodienwebmau.com/" role="search">
                            <div class="flex-row relative">
                                <div class="flex-col flex-grow">
                                    <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Tìm kiếm&hellip;" />
                                </div><!-- .flex-col -->
                                <div class="flex-col">
                                    <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </div><!-- .flex-col -->
                            </div><!-- .flex-row -->
                            <div class="live-search-results text-left z-top"></div>
                        </form>
                    </aside>		<aside id="recent-posts-2" class="widget widget_recent_entries">
                        <span class="widget-title "><span>Bài viết mới</span></span><div class="is-divider small"></div><ul>
    @if (ListNews.Count() > 0)
    {
        foreach (var item in ListNews)
        {
            <li>
                <a href="/chi-tiet-tin/@item.Url/@item.Id">@item.Name</a>
            </li>
        }
    }
</ul>
                <aside id="categories-2" class="widget widget_categories">
                        <span class="widget-title "><span>Chuyên mục</span></span><div class="is-divider small"></div>		<ul>
    @if (ListCate.Count() > 0)
    {
foreach(var item in ListCate)
        {
            <li class="cat-item cat-item-17 current-cat">
                <a href="/tin-tuc/@item.Url/@item.Id">@item.Name</a>
            </li>
        }
    }

</ul>
                    </aside>
                </div><!-- #secondary -->
            </div><!-- .post-sidebar -->

        </div><!-- .row -->

    </div><!-- .page-wrapper .blog-wrapper -->


</main><!-- #main -->
