
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
    var counts = (TuyenSinh.Areas.Admin.Models.StatisticViewModel)ViewBag.counts;
    var ListStudent = (List<TuyenSinh.Model.Student>)ViewBag.ListStudent;
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Đăng ký
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@counts.Student</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Chờ duyệt
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@counts.StudentWait</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Trúng tuyển
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@counts.StudentPass</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Trượt
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@counts.StudentFail</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
</div>
<!-- /.container-fluid -->
<div class="container-fluid">
    <h2 class="mt-4">Thí sinh trúng tuyển</h2>
    <div class="card mb-12">
        <div class="card-body">
            <div class="table-responsive">
                @if (ListStudent.Count() > 0)
                {
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>SĐT</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var stt = 0;
                                @foreach (var item in ListStudent)
                                {
                                    <tr>
                                        <td>@Html.Raw(stt = stt + 1)</td>
                                        <td>@item.Name</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.Address</td>
                                        <td>@item.Dob.Value.ToString("dd/MM/yyyy")</td>
                                        @if (item.Status == 0)
                                        {
                                            <td>Chờ xét duyệt</td>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <td>Trúng tuyển</td>
                                        }
                                        else
                                        {
                                            <td>Trượt</td>
                                        }
                                        <td>
                                            <a href="/Admin/Student/Detail/@item.Id" class="btn btn-primary glyphicon glyphicon-pencilt">Xem</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Không có dữ liệu</span>
                }

            </div>
        </div>
    </div>
</div>