@model TuyenSinh.Models.PaginationSet<TuyenSinh.Model.Question>
@{
    ViewData["Title"] = "Câu hỏi";
}
<div class="bodycontent" style="background-color: whitesmoke;">
    <div class="container">
        <div class="div-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding:16px 0;">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Câu hỏi</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div id="divListNews">
                    @if (Model.Items.Count()> 0)
                    {
                        foreach (var item in Model.Items)
                        {
                            <div class="row" style='margin-bottom: 16px;'>
                                <div class="col-sm-4">
                                    <img src="@item.Image" alt="@item.Name" class="img-fullwidth" style="height:150px;object-fit:cover;" />
                                </div>
                                <div class="col-sm-8">
                                    <div style="padding: 0px 10px 10px 10px;">
                                        <h4 class="text-uppercase font-weight-600">
                                            <a href="/cau-hoi/chi-tiet/@item.Url/@item.Id" alt="@item.Name" title="@item.Name">
                                                @item.Name
                                            </a>
                                        </h4>
                                        <div style='margin-bottom: 8px;'>
                                            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                            <span>@item.CreateDate.Value.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div>
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagination" id="paginationListNews">
                            @if (Model.TotalPages > 1)
                            {
                                // Create numeric links
                                var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                                var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                                <nav>
                                    <ul class="pagination">
                                        @if (Model.Page > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1" aria-label="First">
                                                    <i class="fa fa-angle-double-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@(Model.Page-1)" aria-label="Previous">
                                                    <i class="fa fa-angle-double-left"></i>
                                                </a>
                                            </li>
                                        }
                                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                                        {
                                            if (Model.Page == i)
                                            {
                                                <li class="active page-item"><a class="page-link" href="?page=@i" title="Trang @i">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="?page=@i" title="Trang @i">@i</a></li>
                                            }
                                        }
                                        @if (Model.Page < Model.TotalPages)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@(Model.Page+1)" aria-label="Next">
                                                    <i class="fa fa-angle-double-right"></i>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@Model.TotalPages" aria-label="Last">
                                                    <i class="fa fa-angle-double-right"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "1759613197403378");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>DevExpress.aspnet.setTemplateEngine();</script><div id="dxPopupLoading"></div>
    <script type="text/html" id="dxPopupLoading-contentTemplate">
        <h2 style="text-align:center">Hệ thống đang xử lý.<br />Vui lòng đợi trong giây lát</h2>
        <div id="loader" class="loader"></div>
    </script>
    <script>jQuery(function ($) { $("#dxPopupLoading").dxPopup({ "elementAttr": { "class": "popup" }, "width": 600.0, "height": 225.0, "showTitle": false, "visible": false, "dragEnabled": false, "closeOnOutsideClick": false, "contentTemplate": $("#dxPopupLoading-contentTemplate") }); });</script>
</div>
